a {
    text-decoration: none;
    color: #999999;
}

body {
    padding: 2em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: darkslategray;
}

fieldset {
    width: 80%;
    border: darkslategray dashed medium;
    padding: 1em 1em 2em 1em;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.row {
    margin: 1em 0;
}

.embedded-message {
    text-align: center;
}


.row.inactive {
    display: none;
}

#is-embedded {
    background-color: #356DF0;
}

#is-standalone {
    background-color: #E22B29;
}

.card {
    padding: .5em;
    margin: 1em;
    background-color: #FCFCFC;
    border-radius: .75em;
    -webkit-border-radius: .75em;
    -moz-border-radius: .75em;
    box-shadow: 0 .75em 1em .2em rgba(0, 0, 0, 0.55);
}


.stretch {
    width: 70%;
}

.embedded-message .card {
    padding: 1em 2em;
    color: #FFFFFF;
}

#server-logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#server-logos .card {
    max-height: 110px;
}

.logo.inactive {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    background-color: gainsboro;
}

.card.strip {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 8em;
}

.card.strip :first-child {
    flex: 1;
    max-height: 110px;
    text-align: center;
}

.card.strip :last-child {
    flex: 2;
    text-transform: uppercase;
    font-size: 2em;
    text-shadow: 1px 1px #222222;
}