<div class="container">
    <h1>Register</h1>
    <small>THIS IS NOT A REAL SITE, DO NOT ENTER REAL-LIFE INFO</small>
    <form method="POST" action="/register">
        <label for="name">UserName</label>
        <input type="text" id="username" name="username">
        
        <label for="name">Email</label>
        <input type="text" id="email" name="email">

        <label for="password">Password</label>
        <input type="text" id="password" name="password">

        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword">

        <button type="submit">Register</button>
    </form>
</div>