vpc_id = "vpc-b91b34c0"
subnet_id = "subnet-2ee88b74"
aws_region = "us-west-2"
aws_profile = "273854932432_Mesosphere-PowerUser"
ssh_key_name = "default"
destination_cidr = ""
destination_csr_public_ip = ""
instance_type = "c4.large"
